
.close {
    display: none; 
}

.open {
    display: block; 
}

.searchConsole, .optionalSpruch {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.optionalTrade, .optionalSpruch {
    display: none; 
}
